/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 110%;
  margin-top: 0.50em;
}

h1:not(.nostyle):before {
  content: "#";
}
h2:before {
  content: "+";
}
h1:not(.nostyle):before, h2:before, blockquote:before, dt:before, ul li:before {
  color: #cccccc;
  position: absolute;
  width: 50px;
  text-align: right;
  margin-left: -60px;
}
h1 {
  margin-bottom: 0.5em;
  font-size: 14pt;
}
h3 {
  font-size: 100%;
}

h1.nostyle {
  display: inline;
  margin:0px;
  padding:0px;
}

p {
  margin: 1em 0;
}

a {
  color: #6666ff;
}

a:hover {
  color: black;
}

a:visited {
  color: #cc66ff;
}

table {
  font-size: inherit;
  font: 100%;
}

blockquote:before {
  content: ">";
}

blockquote {
  font-size: 14pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: left;
}
dt:before {
  content: "-";
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}

ul li:before {
  content: "-";
}

ul {
  list-style-type: none;
}

img {
  max-width: 45em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 1em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: left;
  width: 45em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    text-decoration: none;
  }

  .site .title .name {
    color: #0e73d6;
    font-size: 17pt;
  }

  .site .title .bubble {
    background-image: url('/assets/themes/thume/images/bubble.png');
    position: absolute;
    width: 55px;
    margin-left: -65px;
    margin-top: -20px;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
