---
layout: page
title: Tristan's Site
---
{% include JB/setup %}

<blockquote>
I'm interested in high performance systems, compilers, machine learning and all sorts of technology. I work at <a href="https://www.janestreet.com/">Anthropic</a> in SF on ML interpretability research and spend a lot of time in NYC.
</blockquote>

<h1>About Me</h1>
{% assign sections = site.data.homepage %}
{% include highlights.html %}

<h1>Recent Blog Posts</h1>

<ul class="posts">
  {% for post in site.posts limit:10 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h1>Stuff I've Done</h1>

{% capture projects_md %}{% include projects.md %}{% endcapture %}
{{ projects_md | markdownify }}
