---
layout: page
title: Verification
header: Posts By Tag
---

I'm interested in buying a Macbook Pro from louis5919.
However, I've never bought anything on Ebay before so I have no EBay history.
Perhaps you'll be satisfied by my internet reputation instead.

You can go [to my homepage](/) to verify that I am legitimate Macbook-buyer-like person.
It also means that I have a public name that would be tarnished if I did anything dishonest.

Also see [my Github profile](https://github.com/trishume) and my [Twitter](https://twitter.com/trishume)

My EBay username is `tristahum5`
